name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ] # Runs every time you push to the main branch

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      # IMPORTANT: Replace /YOUR_REPO_NAME/ with your actual repository name
      # e.g. if your repo is 'beta-plot', this should be: --base-href "/beta-plot/"
      - name: Build Web
        run: flutter build web --release --base-href "/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web